@import "variables";
@import "mixins";

.excel__table{
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;

  .excel__table-row{
    display: flex;

  }

  .excel__table__row-info{

  }

  .excel__table__row-data{

  }

  .excel__table__row-data-column{

  }

  .excel__table__row-data-cell{


    &.selected{

    }
  }


}