@import "variables";
@import "mixins";

.excel__table{
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;

  .excel__table-row{
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;

  }

  .excel__table__row-info{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;

  }

  .excel__table__row-data{

  }

  .excel__table__row-data-column{

  }

  .excel__table__row-data-cell{


    &.selected{

    }
  }


}